.generate_container {
    background-color: #F2F2F2;
    height: 100%;
}

.gen_nft {
    padding: 50px 0 0 0;
}

.generateNFT_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.nft_card {
    width: 200px;
    margin: 5px;
    border-radius: 10px;
}

.nft_img_card {
    background-color: #ADAEE1;
}